<div class="container">
   <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
    ></app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-server-elemrnt 
            *ngFor="let serverElement of serverElements" 
            [srvele]="serverElement"></app-server-elemrnt>
              <!-- 'srvele cathch the object buy this name' -->
        </div>
    </div>
</div>