<div class="row">
    <div class="col-xs-12">
        <p>Add neew Server or Blueprint</p>
        <hr>
        <label>Server Name</label>
        <input type="text" class="form-control" [(ngModel)]="newServerName">
        <label>Content</label>
        <input type="text" class="form-control" [(ngModel)]="newServerContent">
        <label></label>
        <br>
        <button 
        class="btn btn-primary" 
        (click)="onAddServer()">Add Server</button>
        <button 
        class="btn btn-primary" 
        (click)="onAddBlueprint()">Add Server Blueprint</button>
    </div>
</div>