<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>My server</h2>
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <br><br>
      <ul class="list-group">
        <li 
        class="list-group-item"
        *ngFor="let server of servers; let i = index "
        (click)= "OnRemoveSever(i)">{{server}}</li>
      </ul>
    </div>
  </div>
</div> -->
<app-databinding></app-databinding>